body{
margin-bottom:40px;
letter-spacing:2px;
}


/* ===== HERO ===== */
.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(270deg,#000,#1a1a1a,#ffffff,#1a1a1a,#000);
background-size:500% 500%;
animation:bgMove 12s ease-in-out infinite;
}


@keyframes bgMove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}


.hero h1{
font-family: 'Orbitron', sans-serif;
font-size:3.2rem;
font-weight:800;
letter-spacing:3px;
animation:glow 2.5s infinite alternate;
}


@keyframes glow{
from{text-shadow:0 0 5px #fff;}
to{text-shadow:0 0 20px #fff;}
}


/* ===== CARDS ===== */
.card{
background:#111;
border:none;
color:#eaeaea;
transition:.4s;
}
.card:hover{
transform:translateY(-8px);
box-shadow:0 0 20px rgba(255,255,255,.2);
}


/* ===== GALLERY ===== */
.gallery img{
filter:grayscale(100%);
transition:.4s;
}
.gallery img:hover{
filter:grayscale(0%);
transform:scale(1.05);
}
.media-box {
  width: 100%;
  height: 230px;        /* same height for image & video */
  object-fit: cover;   /* keeps aspect ratio */
  border-radius: 10px;
}

/* ===== FOOTER ===== */
footer{
background:#000;
color:#aaa;
padding:30px 0;
}